<!DOCTYPE html>
<html>
<head>
 <title>Download Tester</title>
  <style type='text/css'>
   html,
   body {
     margin:0;
     padding:0;
     height:100%;
     font-family:'Monaco';
     text-align: center;
   }
   #wrapper {
     min-height:100%;
     position:relative;
   }
   #header {
     padding:10px;
     background:#5ee;
   }
   #content {
     padding:10px;
     padding-bottom:20px;   /* Height of the footer element */
   }
   #footer {
     width:100%;
     height:20px;
     position:absolute;
     bottom:0;
     left:0;
     background:#ee5;
   }
  </style>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

  <script type='text/javascript'>
    function find_latency() {
      var new_entries = window.performance.getEntries().length;
      var latency = 0;
      for(var i=window.earlier_entries;i< new_entries ; i++) {
        latency += (window.performance.getEntries[i].responseStart - window.performance.getEntries[i].requestStart);
      }
      window.latency = latency;
      console.log(latency);
    };
    function startDownload() {
      var files = new Array('/sample128k','/sample256k','/sample512k','/sample1024k','/sample2048k','/sample4096k','/sample8192k')
      $('div.loading').show();
      var startedAt,endedAt;
      // Size in KB
      var size = 16384;

      startedAt = (new Date().getTime());
      console.log('.....Started.....');
      window.earlier_entries = window.performance.getEntries().length;
      var settings = {cached: false,datatype: 'html'}
      var time = (new Date().getTime());

      $.when(
              $.ajax('/sample128k_2',settings),
              $.ajax('/sample128k',settings),
              $.ajax('/sample256k',settings),
              $.ajax('/sample8192k',settings),
              $.ajax('/sample512k',settings),
              $.ajax('/sample1024k',settings),
              $.ajax('/sample2048k',settings),
              $.ajax('/sample4096k',settings),
              $.ajax('/sample8192k',settings)
            ).done(function(a1,a2,a3,a4,a5,a6,a7){
        find_latency();
        endedAt = new Date().getTime();
        var totalTime = (endedAt - startedAt);
        console.log(totalTime);
        var totalsec = (totalTime - window.latency)/ 1000;

        console.log(totalsec);
        var size_mb = (size/1024/totalsec);
        var data,identifier,speed;

        if (totalsec > 0) {
          if (size_mb >= 1) {
            data = size_mb ;
            identifier = ' MB/s';
          }
          else {
            data = size/totalsec;
            identifier = ' KB/s';
          }
          console.log(data);
          speed = (data.toFixed(2) + identifier).fixed(2);
        }
        else {
          speed = 'Too fast seem like around certainly >= 8MB/s';
        }
        $('span.speed').html(speed);
        $('div.loading').hide();
        $('div.text').show();
      })
    };

    $(document).ready(function(){
      $("a#start").bind('click',function(event){
        $('div.text').hide();
        event.preventDefault();
        startDownload();
      })
    });
  </script>
</head>
<body>
  <div id='wrapper'>
    <div id='header'> Welcome to SpeedTester :) </div>
     <div id='content'>
       <a href='#' id='start'>Start Testing</a>
       <br/>
       <div class='loading' style='display:none'>Please wait, checking your download speed ....</div>
      <div class='text' style='display:none;'> Your Download Speed is <span class="speed" style="color:red"></span>
     </div>
     <div id='footer'> CopyRight &copy; to Belator </div>
   </div>
</body>
</html>